<div class="container wv-container">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div class="card">
        <div class="city-selected">
          <article>
            <div class="col-sm-12">
              <div class="info row">
                <div class="city col-sm-12"><span>location:</span> {{currentCity}}</div>
                <div class="conditions col-sm-12">Conditons - {{weatherForecast.currently.summary}}</div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="temp col-xs-12 col-sm-6 col-lg-6">{{weatherForecast.currently.temperature}}°</div>
                    <div class="icon col-xs-12 col-sm-6 col-lg-6">
                      <i class="wi wi-{{weatherForecast.currently.icon}} pull-right"></i>
                    </div>
                  </div>
                </div>
                <div class="wind col-sm-12">
                  <i class="wi wi-strong-wind"></i>
                  <span>{{weatherForecast.currently.windSpeed}} km/h</span>
                </div>
              </div>
            </div>
          </article>
          <figure style="background-image: url({{currentBackground}})"></figure>
        </div>
        <div class="days">
          <div class="row row-no-gutter" ng-repeat="day in weatherForecast.daily.data" ng-if="$index != 0">
            <div class="col-md-12">
              <div class="day">
                <h1>{{day.time*1000 | date : 'EEEE'}}</h1>
                <i class="wi wi-{{day.icon}}"></i>
                <div class="day-high-low">
                  <p>{{day.temperatureMax | number: 1}}°</p>
                  <p>{{day.temperatureMin | number: 1}}°</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="card">
        <div map-lazy-load="https://maps.google.com/maps/api/js"
             map-lazy-load-params="{{googleMapsUrl}}">
          <ng-map center="{{defaultCoords.lat | number : 2}},{{defaultCoords.long | number : 2}}" zoom="5" on-click="placeMarker()"></ng-map>
        </div>
      </div>
      <p>Click any where on the map to view weather and forecast info for that location</p>
    </div>
  </div>
</div>
